<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>


        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <!-- Driver SQLite -->
        <property name="hibernate.connection.driver_class">
            org.sqlite.JDBC
        </property>

        <!-- Base de datos en archivo -->
        <property name="hibernate.connection.url">
            jdbc:sqlite:./data/tienda.sqlite
        </property>

        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.connection.autocommit">true</property>

        <!-- Dialecto SQLite -->
        <property name="hibernate.dialect">
            org.hibernate.community.dialect.SQLiteDialect
        </property>

        <!-- Entidades - orden: padres antes que hijos -->
        <!-- Users -->
        <mapping class="etsisi.upm.models.users.User"/>
        <mapping class="etsisi.upm.models.users.Cashier"/>
        <mapping class="etsisi.upm.models.users.Client"/>
        <mapping class="etsisi.upm.models.users.CompanyClient"/>

        <!-- Sellables -->
        <mapping class="etsisi.upm.models.Sellable"/>
        <mapping class="etsisi.upm.models.Product"/>
        <mapping class="etsisi.upm.models.ProductPersonalized"/>
        <mapping class="etsisi.upm.models.ServiceProduct"/>

        <!-- Tickets -->
        <mapping class="etsisi.upm.models.Ticket"/>
        <mapping class="etsisi.upm.models.TicketOfProducts"/>
        <mapping class="etsisi.upm.models.TicketOfServices"/>
        <mapping class="etsisi.upm.models.TicketOfMixed"/>
        <mapping class="etsisi.upm.models.TicketItem"/>

    </session-factory>
</hibernate-configuration>
