<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Driver H2 -->
        <property name="hibernate.connection.driver_class">
            org.h2.Driver
        </property>

        <!-- Base de datos en archivo -->
        <property name="hibernate.connection.url">
            jdbc:h2:file:./data/mi_bd
        </property>

        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialecto -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.H2Dialect
        </property>

        <!-- Opciones -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Entidades -->
        <mapping class="etsisi.upm.models.users.User"/>
        <mapping class="etsisi.upm.models.Product"/>
        <mapping class="etsisi.upm.models.Ticket"/>

    </session-factory>
</hibernate-configuration>
